<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REST API Freight App</title>
    <style>
      body {
        background-color: #282c34;
        color: white;
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      header {
        text-align: center;
        margin-bottom: 20px;
      }

      h1 {
        font-size: 2em;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.2em;
        /* Adjust the max-height property to control the number of lines */
        max-height: 2.4em;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .description {
        max-width: 600px;
        text-align: center;
      }

      .header-lines {
        font-size: 1.2em;
        margin-bottom: 15px;
      }

      pre {
        font-size: 20px;
        line-height: 1.4;
        background-color: #1f2732;
        padding: 35px;
        border-radius: 10px;
        border: 2px solid #61dafb;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="header-lines">
        <p>
          Explore the possibilities of our API for efficient freight management.
        </p>
        <p>Empowering your logistics with seamless integration.</p>
      </div>
      <h1><%= message %></h1>
    </header>

    <section class="description">
      <p>
        Welcome to the REST API Freight App! This API provides various endpoints
        to manage freight-related operations.
      </p>
      Routes:
      <pre>
api/auth
api/user
api/contacts
api/airlines
api/agents
      </pre>
    </section>
  </body>
</html>
